.carousel {
    height: 400px;
    width: 500px;
    float: left;
    margin-left: 5%;
    margin-right: 100px;
    border: 5px solid #D61A46;
}

.carousel img {
    max-height: 390px;
    size: initial;
}

#item-info {
    overflow: auto;
    font-family: "Raleway";
    height: 400px;
    width: 600px;
    margin-bottom: 10%;
    padding: 20px;
    border: 5px solid #D61A46;
    background: white;
}