@font-face{
    font-family: "Raleway";
    src: url("../../../assets/css/fonts/Raleway-Light.ttf");
}

#botones {
    display: inline-flex;
    float: right;
    margin-right: 6%;
}

.btn-primary {
    margin-bottom: 20px;
    width: fit-content;
    background-color: #D61A46;
    border-color: #D61A46;
}

.btn-primary:hover {
    background-color: rgb(173, 22, 60);
    border-color: rgb(173, 22, 60);
}

#go-to-shop {
    margin-right: 15px;
}

#go-back {
    width: 100px;
}

.carousel {
    height: 400px;
    width: 500px;
    float: left;
    margin-left: 5%;
    margin-right: 100px;
    margin-top: 57px;
    border: 2px solid black;
}

.carousel img {
    max-height: 398px;
    size: initial;
}

#item-info {
    overflow: auto;
    font-family: "Raleway";
    height: 400px;
    width: 600px;
    margin-bottom: 10%;
    padding: 20px;
    background: white;
    border: 2px solid black;
}

